@()(implicit messages: Messages)
@template("About", scripts = Html( """ """.stripMargin)) {

	<div class="page-header">
		<h1></h1>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-lg-12">
					About
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-6">


					<h3><strong>About - Argentum</strong></h3>
					<blockquote>
						<p>Argentum project was prepared by www.caelum.com.br .</p>
						<p>It's used as a model in the course FJ-22 (Java with Tests Laboratory, JSF and Desgin Patterns).</p>
						<p>Here we'll developer with Play FrameWork and Scala.</p>
					</blockquote>

				</div>

				<div class="col-lg-6">
					<h3><strong>Technologies</strong></h3>
					<blockquote>
						<small>Scala</small>
						<small>Spec2</small>
						<small>Play Framework</small>
						<small>SBT</small>
						<small>Bootstrap</small>
						<small>Json and XML</small>
						<small>WebService (REST)</small>
					</blockquote>
				</div>


			</div>
		</div>
	</div>

}